{% extends 'base.html' %}

{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row justify-content-center align-items-center mb-5 text-center text-white laptop" style="min-height: 160px;">
    <div class="col-lg-6">
        <h1 class="display-4" style="font-weight: 400; color: rgb(4, 54, 4);"><b>📞 Contact Us 📞</b></h1>
        <p class="lead" style="font-weight: 500; color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To Help.</p>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-lg-4">
        <div class="p-5 bg-white shadow rounded-lg text-center" style="min-width: 380px;">
            <h3>Raghavendra Kurdekar</h3>
            <p class="lead" style="font-weight: 350;">Hi, I am Raghavendra Kurdekar. Currently Pursuing Bachelors in Computer Science. My Main Focus is on Machine Learning, Deep Learning and Cloud Computing (AWS, Oracle Cloud). I am Also Interested in Docker and Kubernetes.</p>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='##'><img src="https://freelogopng.com/images/all_img/1657906383gmail-icon-png.png" height="40" width="40"></a> : raghavendra.ugk@gmail.com<br><br>
                <!-- <a target="_blank" href='##'><img src="https://cdn4.iconfinder.com/data/icons/social-media-2210/24/Medium-512.png" height="44" width="44"></a> : iam-raghu<br><br> -->
                <a target="_blank" href='https://www.linkedin.com/in/raghavendrakurdekar/'><img src="https://static.vecteezy.com/system/resources/previews/018/910/809/original/linkedin-logo-linkedin-symbol-linkedin-icon-free-free-vector.jpg" height="40" width="40"></a> : raghavendrark<br><br>
                <a target="_blank" href='github.com/iamraghs'><img src="https://logowik.com/content/uploads/images/github-line6460.logowik.com.webp" height="40" width="40"></a> : iamraghs<br>
            </div>
        </div>
    </div>
</div>

{% endblock body %}
